@font-face {
  font-family: "MontserratExtraBold";
  font-style: normal;
  font-weight: 900;
  src:
    url("../assets/fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "MontserratBold";
  font-style: normal;
  font-weight: 700;
  src:
    url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "MontserratSemiBold";
  font-style: normal;
  font-weight: 600;
  src:
    url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "MontserratMedium";
  font-style: normal;
  font-weight: 500;
  src:
    url("../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "MontserratRegular";
  font-style: normal;
  font-weight: 400;
  src:
    url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}
